-- Script to create the required databases and user accounts

-- The <<<MY_TAG>>> tags will be substituted for the value of the
-- environment variable with the same name (e.g. MY_TAG)

CREATE DATABASE IF NOT EXISTS <<<STROOM_ANNOTATIONS_DB_NAME>>>;
CREATE USER "<<<STROOM_ANNOTATIONS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_ANNOTATIONS_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_ANNOTATIONS_DB_NAME>>>.* TO "<<<STROOM_ANNOTATIONS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_AUTH_DB_NAME>>>;
CREATE USER "<<<STROOM_AUTH_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_AUTH_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_AUTH_DB_NAME>>>.* TO "<<<STROOM_AUTH_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_CONFIG_DB_NAME>>>;
CREATE USER "<<<STROOM_CONFIG_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_CONFIG_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_CONFIG_DB_NAME>>>.* TO "<<<STROOM_CONFIG_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_DATAMETA_DB_NAME>>>;
CREATE USER "<<<STROOM_DATAMETA_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_DATAMETA_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_DATAMETA_DB_NAME>>>.* TO "<<<STROOM_DATAMETA_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_EXPLORER_DB_NAME>>>;
CREATE USER "<<<STROOM_EXPLORER_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_EXPLORER_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_EXPLORER_DB_NAME>>>.* TO "<<<STROOM_EXPLORER_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_PROCESS_DB_NAME>>>;
CREATE USER "<<<STROOM_PROCESS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_PROCESS_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_PROCESS_DB_NAME>>>.* TO "<<<STROOM_PROCESS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_STATS_DB_NAME>>>;
CREATE USER "<<<STROOM_STATS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_STATS_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_STATS_DB_NAME>>>.* TO "<<<STROOM_STATS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_DB_NAME>>>;
CREATE USER "<<<STROOM_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_DB_NAME>>>.* TO "<<<STROOM_DB_USERNAME>>>"@"%";

SELECT 'Dumping list of databases' AS '';
SELECT '---------------------------------------' AS '';
show databases;

SELECT 'Dumping list of users' AS '';
SELECT '---------------------------------------' AS '';
SELECT User AS 'USER', Host AS 'HOST' FROM mysql.user;

-- vim: set filetype=sql:
