-- Script to create the required databases and user accounts

-- The <<<MY_TAG>>> tags will be substituted for the value of the
-- environment variable with the same name (e.g. MY_TAG)

CREATE DATABASE IF NOT EXISTS annotations;
CREATE USER "<<<STROOM_ANNOTATIONS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_ANNOTATIONS_DB_PASSWORD>>>";
GRANT ALL ON annotations.* TO "<<<STROOM_ANNOTATIONS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS auth;
CREATE USER "<<<STROOM_AUTH_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_AUTH_DB_PASSWORD>>>";
GRANT ALL ON auth.* TO "<<<STROOM_AUTH_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS config;
CREATE USER "<<<STROOM_CONFIG_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_CONFIG_DB_PASSWORD>>>";
GRANT ALL ON config.* TO "<<<STROOM_CONFIG_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS datameta;
CREATE USER "<<<STROOM_DATAMETA_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_DATAMETA_DB_PASSWORD>>>";
GRANT ALL ON datameta.* TO "<<<STROOM_DATAMETA_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS explorer;
CREATE USER "<<<STROOM_EXPLORER_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_EXPLORER_DB_PASSWORD>>>";
GRANT ALL ON explorer.* TO "<<<STROOM_EXPLORER_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS process;
CREATE USER "<<<STROOM_PROCESS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_PROCESS_DB_PASSWORD>>>";
GRANT ALL ON process.* TO "<<<STROOM_PROCESS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS stats;
CREATE USER "<<<STROOM_STATS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_STATS_DB_PASSWORD>>>";
GRANT ALL ON stats.* TO "<<<STROOM_STATS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS stroom;
CREATE USER "<<<STROOM_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_DB_PASSWORD>>>";
GRANT ALL ON stroom.* TO "<<<STROOM_DB_USERNAME>>>"@"%";


