# Upstream configuration for stroom-auth

upstream auth_service_upstream_sticky {
    ip_hash;
<<<AUTH_STICKY_UPSTREAMS>>>
}

upstream auth_ui_upstream {
<<<AUTH_UI_UPSTREAMS>>>
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
