# Default cache config settings for use in location blocks
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


# Enables or disables buffering of responses from the proxied server.
proxy_buffering             on;

# Sets the number and size of the buffers used for reading a response from the
# proxied server, for a single connection. By default, the buffer size is equal
# to one memory page. This is either 4K or 8K, depending on a platform.
proxy_buffers               16 16k;  

# Sets the size of the buffer used for reading the first part of the response
# received from the proxied server. This part usually contains a small response
# header. By default, the buffer size is equal to one memory page. This is either
# 4K or 8K, depending on a platform. It can be made smaller, however.
proxy_buffer_size           2k;

# Don't write to temp files when the response won't fit in the buffers.
# Think this may not apply when caching.
proxy_max_temp_file_size    0;

# Defines a shared memory zone used for caching. The same zone can be used in
# several places. Parameter value can contain variables (1.7.9). The off
# parameter disables caching inherited from the previous configuration level.
proxy_cache                 stroom_cache;

# Enables revalidation of expired cache items using conditional requests with
# the “If-Modified-Since” and “If-None-Match” header fields.
proxy_cache_revalidate      on;

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:

