# Server configuration for stroom

########################
# ROUTING FOR SERVICES #
########################

# datafeed direct into stroom with no prxoy aggregation
location /stroom/datafeeddirect/ {
    proxy_pass http://stroom_upstream/stroom/datafeed/;
    include proxy_location_defaults.conf;
}

# datafeed direct into stroom with no prxoy aggregation (exact match)
location = /stroom/datafeeddirect {
    proxy_pass http://stroom_upstream/stroom/datafeed/;
    include proxy_location_defaults.conf;
}

# All REST services
location /api/ {
    proxy_pass http://stroom_upstream/api/;
    include location_defaults.conf;
}

##################
# ROUTING FOR UI #
##################

location = / {
    #add_header                  location-debug stroom_root;
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/ui;
}

# This is an exact match that directs '/stroom' to the Stroom UI...
location ~ /stroom$ {
    #add_header                  location-debug stroom_stroom-exact;
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/ui;
}

location ~ .*/clustercall.rpc$ {
    #add_header                  location-debug stroom_clustercall;
    deny all;
}

#location ~* /stroom/(:?images|css|fonts).* {
#    proxy_pass http://stroom_upstream_sticky$uri$is_args$args;
#    include location_defaults.conf;
#
#    # Enable caching for the static ui content, caching requires buffering
#    proxy_buffering             on;
#    proxy_cache                 stroom_ui_cache;
#    proxy_buffers               16 16k;  
#    proxy_buffer_size           2k;
#    proxy_max_temp_file_size    0;
#}

# ... and everything else gets reverse-proxied to stroom.
location /stroom {
    #add_header                  location-debug stroom_stroom-prefix;
    proxy_pass http://stroom_upstream_sticky/stroom;
    include location_defaults.conf;

    # Enable caching for the static ui content, caching requires buffering
    proxy_buffering             on;
    proxy_cache                 stroom_ui_cache;
    proxy_buffers               16 16k;  
    proxy_buffer_size           2k;
    proxy_max_temp_file_size    0;
    proxy_cache_revalidate      on;

    # Don't cache unless we match on the file type
    set $no_cache "1";
    # Cache static files
    if ($request_uri ~* \.(:?ico|css|js|gif|jpe?g|png|woff|woff2|eot|svg|ttf|webp)$) {
      set $no_cache "0";
    }
    # Some GWT files should NOT be cached
    if ($request_uri ~* \.nocache\.(html|js)$) {
      set $no_cache "1";
      expires -1;
    }
    # We want to cache stroom's script entities
    if ($request_uri ~* /stroom/script\?.*$) {
      set $no_cache "0";
    }

    # Don't cache proxy response if $no_cache is non-zero
    proxy_no_cache $no_cache;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
