# Server configuration for proxy

########################
# ROUTING FOR SERVICES #
########################

# datafeed into proxy
location /stroom/datafeed/ {
    proxy_pass http://stroom_proxy_upstream/stroom/datafeed/;
    include proxy_location_defaults.conf;
}

# datafeed into proxy (exact match)
location = /stroom/datafeed {
    proxy_pass http://stroom_proxy_upstream/stroom/datafeed/;
    include proxy_location_defaults.conf;
}

# All servlets
# e.g. the status servlet
# Needs to be /stroom/proxy/ rather than /stroom/ to distinguish it from the stroom upstream,
# thus we can serve the servlets on both stroom and a local storing proxy.
location /stroom/proxy/ {
    proxy_pass http://stroom_proxy_upstream/stroom/;
    include location_defaults.conf;
}

# All REST services
# e.g. the feed status service that a proxy exposes (and uses stroom or another proxy
# to service the request)
# Needs to be /api/proxy/ rather than /api/ to distinguish it from the stroom upstream,
# thus we can serve the feed status service on both stroom and a local storing proxy.
location /api/proxy/ {
    proxy_pass http://stroom_proxy_upstream/api/;
    include location_defaults.conf;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
