location /service01/ {
  auth_basic "service01s' area";
  # Run the following to create a new password to put into the htpasswd file:
  #  $ openssl passwd -apr1
  auth_basic_user_file /stroom-nginx/config/passwords.service01.htpasswd;
  # We need to enable web sockets for reverse proxying. See:
  # http://nginx.org/en/docs/http/websocket.html
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";

  include location_defaults.conf;
  # The root of the application must match the root shown below
  proxy_pass http://service01_upstream/service01/;
}
