# Configuration for static documentation served by nginx

# Routing for the documentation content (if available)

# Add a rewrite to the latest schema version
# Saves having to use the client side re-direct in index.html
rewrite ^(/event-logging-schema-docs)/?$ $1/latest last;

# event-logging Schema documentation
location ~* ^/event-logging-schema-docs/.+ {
    include location_defaults.conf;
    include mime.types;
}

# Stroom documentation
location ~* ^/stroom-docs(/|/.+)?$ {
    include location_defaults.conf;
    include mime.types;
}

# vim: set filetype=conf shiftwidth=4 tabstop=4 expandtab:
