# Server configuration for stroom

########################
# ROUTING FOR SERVICES #
########################

# datafeed direct into stroom with no prxoy aggregation
location /stroom/datafeeddirect/ {
    proxy_pass http://stroom_upstream/stroom/datafeed/;
    include proxy_location_defaults.conf;
}

# datafeed direct into stroom with no prxoy aggregation (exact match)
location = /stroom/datafeeddirect {
    proxy_pass http://stroom_upstream/stroom/datafeed/;
    include proxy_location_defaults.conf;
}

# All REST services
location /api/ {
    proxy_pass http://stroom_upstream/api/;
    include location_defaults.conf;
}

##################
# ROUTING FOR UI #
##################

# If you hit https://<host>/ you get a 404 on the favicon.
location = /favicon.ico {
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/favicon.ico;
}

location = / {
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/ui;
}

# This is an exact match that directs '/stroom' to the Stroom UI...
location ~ /stroom$ {
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/ui;
}

location ~ .*/clustercall.rpc$ {
    deny all;
}

location /stroom/ui {
    proxy_pass http://stroom_upstream_sticky/stroom/ui;
    include location_defaults.conf;

    # Enable caching for the static ui content, caching requires buffering
    proxy_buffering             on;
    proxy_cache                 stroom_ui_cache;
}

# ... and everything else gets reverse-proxied to stroom.
location /stroom {
    proxy_pass http://stroom_upstream_sticky/stroom;
    include location_defaults.conf;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
