# Server configuration for auth

########################
# ROUTING FOR SERVICES #
########################

location /api/auth/ {
    include location_defaults.conf;
    proxy_pass http://auth_service_upstream_sticky/;
}

##################
# ROUTING FOR UI #
##################

# TODO: We don't really want this path. Auth has several responsibilities.
# Some of them are mapped to more helpful locations, as above, but really 
# should be non-root. E.g. passwordReset is root, so we need this location.
location /authui {
    proxy_pass https://auth_ui_upstream;
}

# The following routes mount stroom-ui onto this server. These paths catch
# everything that should go to the UI.

# This allows stroom-ui to get its config.
location /config.json {
    proxy_pass https://auth_ui_upstream/config.json;

    # Enable caching for the static ui content, caching requires buffering
    proxy_buffering             on;
    proxy_cache                 stroom_auth_ui_cache;
}

# This allows stroom-ui to get its assets, e.g. css and images.
location /static {
    proxy_pass https://auth_ui_upstream/static;

    # Enable caching for the static ui content, caching requires buffering
    proxy_buffering             on;
    proxy_cache                 stroom_auth_ui_cache;
}

# This is the path where all non-chrome pages are hosted,
# i.e. all the normal functionality but without the chrome (navigation, footer).
location /s {
    include location_defaults.conf;
    proxy_pass https://auth_ui_upstream/s;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
