# Server configuration for stroom

########################
# ROUTING FOR SERVICES #
########################

# datafeed direct into stroom with no prxoy aggregation
location /stroom/datafeeddirect/ {
    proxy_pass http://stroom_upstream/stroom/noauth/datafeed/;
    include proxy_location_defaults.conf;
}

# datafeed direct into stroom with no prxoy aggregation (exact match)
location = /stroom/datafeeddirect {
    proxy_pass http://stroom_upstream/stroom/noauth/datafeed/;
    include proxy_location_defaults.conf;
}

# All REST services
location /api/ {
    proxy_pass http://stroom_upstream_sticky/api/;
    include location_defaults.conf;
}

##################
# ROUTING FOR UI #
##################

location = / {
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/ui;
}

# This is an exact match that directs '/stroom' to the Stroom UI...
location ~ /stroom$ {
    return 302 https://<<<NGINX_ADVERTISED_HOST>>>/stroom/ui;
}

location ~ .*/clustercall.rpc$ {
    deny all;
}

# ... and everything else gets reverse-proxied to stroom.
location /stroom {
    proxy_pass http://stroom_upstream_sticky/stroom;
    include location_defaults.conf;
}










# TODO The following is legacy auth/stroom-ui stuff that needs checking
# Also check sticky/nonsticky

########################
# ROUTING FOR SERVICES #
########################

location /api/auth/ {
    include location_defaults.conf;
    proxy_pass http://stroom_upstream/api/;
}

##################
# ROUTING FOR UI #
##################

# TODO: We don't really want this path. Auth has several responsibilities.
# Some of them are mapped to more helpful locations, as above, but really 
# should be non-root. E.g. passwordReset is root, so we need this location.
location /authui {
    proxy_pass https://stroom_upstream_sticky;
}

# The following routes mount stroom-ui onto this server. These paths catch
# everything that should go to the UI.

# This allows stroom-ui to get its config.
location /config.json {
    proxy_pass https://stroom_upstream_sticky/config.json;
}

# This allows stroom-ui to get its fav icon.
location /favicon.ico {
    proxy_pass https://stroom_upstream_sticky/favicon.ico;
}

# This allows stroom-ui to get its manifest.
location /manifest.json {
    proxy_pass https://stroom_upstream_sticky/manifest.json;
    
}

# This allows stroom-ui to get its assets, e.g. css and images.
location /static {
    proxy_pass https://stroom_upstream_sticky/static;
}

# This is the path where all non-chrome pages are hosted,
# i.e. all the normal functionality but without the chrome (navigation, footer).
location /s {
    include location_defaults.conf;
    proxy_pass https://stroom_upstream_sticky/s;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
