# Stroom combined format, includes upstream address and millisecond accuracy timestamp

# A-Z index of nginx variables - http://nginx.org/en/docs/varindex.html
log_format stroom_combined_format
    '[$time_local] '
    '[$msec] '
    '$remote_addr '
    '- '
    '"$ssl_client_s_dn" '
    '- '
    '$server_name '
    '> '
    '$upstream_addr '
    '"$request" '
    '$status '
    '$body_bytes_sent '
    '"$http_referer" '
    '"$http_user_agent" '
    '$upstream_response_time '
    '$request_time';

# stdout/stderr logging for use with 'docker logs'
access_log /var/log/nginx/access.log stroom_combined_format;
error_log /var/log/nginx/app.log warn;

# Additional file based logging for collection by stroom-log-sender
access_log /stroom-nginx/logs/access/access.log stroom_combined_format;
error_log /stroom-nginx/logs/app/app.log warn;

# vim: set filetype=conf shiftwidth=4 tabstop=4 expandtab:
