# The access logs need to mirror the standard nginx/apache 'combined' format
# but using the subject DN instead of the remote_user. 'logname' doesn't appear
# to be a thing in nginx, so have hard-coded it to '-'.

#Standard Apache Format 
#%h - host name should be ok without quotes
#%l - Remote logname (from identd, if supplied). This will return a dash unless IdentityCheck is set On.
#\"%u\" - user name should be quoted to deal with DNs
#%t - time is added in square brackets so is contained for parsing purposes
#\"%r\" - URL is quoted
#%>s - Response code doesn't need to be quoted as it is a single number
#%b - The size in bytes of the response sent to the client
#\"%{Referer}i\" - Referrer is quoted so that's ok
#\"%{User-Agent}i\" - User agent is quoted so also ok
#
#LogFormat "%h %l \"%u\" %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

# A-Z index of nginx variables - http://nginx.org/en/docs/varindex.html
log_format stroom_combined_format
    '[$time_local] '
    '[$msec] '
    '$remote_addr '
    '- '
    '"$ssl_client_s_dn" '
    '- '
    '$server_name '
    '> '
    '$upstream_addr '
    '"$request" '
    '$status '
    '$body_bytes_sent '
    '"$http_referer" '
    '"$http_user_agent" '
    '$upstream_response_time '
    '$request_time';

# stdout/stderr logging for use with 'docker logs'
access_log /var/log/nginx/access.log stroom_combined_format;
error_log /var/log/nginx/app.log warn;

# Additional file based logging for collection by stroom-log-sender
access_log /stroom-nginx/logs/access/access.log stroom_combined_format;
error_log /stroom-nginx/logs/app/app.log warn;

# vim: set filetype=conf shiftwidth=4 tabstop=4 expandtab:
