proxy_cache_path /var/nginx/cache/stroom_ui_cache keys_zone=stroom_ui_cache:10m levels=1:2 inactive=600s max_size=100m use_temp_path=off;
proxy_cache_path /var/nginx/cache/stroom_auth_ui_cache keys_zone=stroom_auth_ui_cache:10m levels=1:2 inactive=600s max_size=100m use_temp_path=off;
