# Upstream configuration for stroom-auth

upstream auth_service_upstream_sticky {
    ip_hash;
    server <<<AUTH_SERVICE_HOST>>>:<<<AUTH_SERVICE_PORT>>>;
}

upstream auth_ui_upstream {
    server <<<AUTH_UI_URL>>>;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
