# Upstream configuration for stroom

upstream stroom_upstream_sticky {
    ip_hash;
    server <<<stroom_and_proxy_host_01>>>:8080;
    server <<<stroom_and_proxy_host_02>>>:8080;
}

upstream stroom_upstream {
    server <<<stroom_and_proxy_host_01>>>:8080;
    server <<<stroom_and_proxy_host_02>>>:8080;
}

# vim: set filetype=text shiftwidth=4 tabstop=4 expandtab:
