-- Script to create the required databases and user accounts

-- The <<<MY_TAG>>> tags will be substituted for the value of the
-- environment variable with the same name (e.g. MY_TAG)

CREATE DATABASE IF NOT EXISTS <<<STROOM_STATS_DB_NAME>>>;
CREATE USER "<<<STROOM_STATS_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_STATS_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_STATS_DB_NAME>>>.* TO "<<<STROOM_STATS_DB_USERNAME>>>"@"%";

CREATE DATABASE IF NOT EXISTS <<<STROOM_DB_NAME>>>;
CREATE USER "<<<STROOM_DB_USERNAME>>>"@"%" IDENTIFIED BY "<<<STROOM_DB_PASSWORD>>>";
GRANT ALL ON <<<STROOM_DB_NAME>>>.* TO "<<<STROOM_DB_USERNAME>>>"@"%";

SELECT 'Dumping list of databases' AS '';
SELECT '---------------------------------------' AS '';
show databases;

SELECT 'Dumping list of users' AS '';
SELECT '---------------------------------------' AS '';
SELECT User AS 'USER', Host AS 'HOST' FROM mysql.user;

-- vim: set filetype=sql:
