# This configuration file is referenced as an 'include' in /etc/mysql/my.cnf

[mysqld]

#max_connections=300

# Buffer pool sizes
# Note innodb-buffer-pool-size MUST equal innodb-buffer-pool-instances * innodb-buffer-pool-chunk-size 
#innodb-buffer-pool-size=
#innodb-buffer-pool-instances=
#innodb-buffer-pool-chunk-size=
