# This configuration file is referenced as an 'include' in /etc/mysql/my.cnf

# This file is bind-mounted in to the container using the inode of the file.
# If the file is changed/replaced in a way that results in a new inode then the
# container will see the old version.

[mysqld]

# Mode 0 means tables are stored on the filesystem in the case used in CREATE TABLE and sql is case sensitive
# Mode 1 means tables are stored on the filesystem in lowercase but sql is case insensitive
# On linux the default is 0
# lower_case_table_names=1

#max_connections=300

# Buffer pool sizes
#   https://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_buffer_pool_size
#   https://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_buffer_pool_instances
#innodb_buffer_pool_size=2147483648
#innodb_buffer_pool_instances=8
